<div class="modal-header">
    <h4 class="modal-title">Ajouter une nouvelle photo</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <span style="color: red">{{ errorMessage }}</span>
    <webcam (imageCapture)="handleImage($event)" [trigger]="triggerObservable"></webcam>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="close()">Fermer</button>
    <button class="btn btn-success" (click)="triggerSnapshot();">Prendre la photo</button>
</div>