<div class="card">
    <div class="card-header">
        Connexion
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="login">Login</label>
                <input class="form-control form-control-sm" [ngClass]="{'is-invalid': errorMessage}" id="login"
                    name="login" type="text" [(ngModel)]="login" />
                <div class="invalid-feedback">
                    {{ errorMessage }}
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control form-control-sm" id="password" name="password" type="password"
                    [(ngModel)]="password" />
            </div>
        </form>
    </div>
    <div class="card-footer text-right">
        <button type="button" class="btn btn-outline-primary" (click)="connect()">Connect</button>
    </div>
</div>