
.delete-icon {
    color: white;
    position: absolute;
    right: 5px;
    top: 5px;
}

.add-icon {
    position: absolute;
    color: white;
    width: 80px;
    height: 80px; 
    border-radius: 40px;
    //background-color: $bg-primary;
}
