/* You can add global styles to this file, and also import other style files */
$fa-font-path: '../node_modules/@fortawesome/fontawesome-free/webfonts';

@import '../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../node_modules/@fortawesome/fontawesome-free/scss/solid';

body {
  height: 100%;
  overflow-y: hidden;
}
