<!-- Toolbar -->
<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    Galerie
  </a>
</nav>
<div class="add-icon" (click)="addNew()">
  <i class="fa fa-plus"></i>
</div>
<div class="w-100 position-relative mx-5 my-5">
  <div class="d-flex flex-row align-items-start align-content-start flex-wrap px-3"
    *ngIf="listImage && listImage.length > 0">
    <div *ngFor="let image of listImage" class="image position-relative mr-2">
      <img [src]="image.imageAsDataUrl" width="300" />
      <i class="fa fa-trash delete-icon" (click)="removeImage(image)"></i>
    </div>
  </div>
  <div class="no-data" *ngIf="!listImage || (listImage && listImage.length === 0)">
    <p>Aucune image</p>
  </div>
</div>