
.delete-icon {
    color: white;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.add-icon {
    position: absolute;
    color: white;
    width: 60px;
    height: 60px; 
    border-radius: 30px;
    right: 25px;
    bottom: 25px;
    background-color: #007bff !important;
    cursor: pointer;

    .fa {
        position: absolute;
        left: 16px;
        top: 15px;
        font-size: 2rem;
    }
}

.no-data {
    position: absolute;
    top:0px;
    left:0px;
    bottom: 0px;
    right: 0px;
}
